.portfolios {
  margin-top: 120px;
  .portfolio-link a {
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $yellow-color;
  }
  .portfolio {
    height: 600px;
    margin: 50px 0;
    padding: 0;
    position: relative;

    .portfolio-image img {
      width: 800px;
      height: auto;
      position: absolute;
    }

    .portfolio-text-container {
      position: absolute;
      top: 100px;
      width: 1100px;
      height: 500px;
      background-color: rgba($color: $grey-color, $alpha: 0.4);
      .portfolio-header {
        font-size: 50px;
        text-transform: uppercase;
      }
      .portfolio-p {
        width: 320px;
      }
    }
  }

  .portfolio-right {
    .portfolio-text-container {
      left: 0;
      border-bottom-right-radius: 30px;
      .portfolio-p {
        margin: 40px 50px 50px 50px;
      }
    }

    .portfolio-header {
      margin: 50px 0 0 50px;
    }
    .portfolio-image img {
      right: 0;
    }
  }

  .portfolio-left {
    .portfolio-text-container {
      right: 0;

      border-bottom-left-radius: 30px;

      .portfolio-header {
        text-align: right;
        margin: 50px 50px 0 0;
        font-size: 50px;
        text-transform: uppercase;
      }
      .portfolio-p {
        float: right;
        text-align: right;

        margin: 40px 50px 50px 50px;
      }
    }

    .portfolio-image img {
      left: 0;
    }
  }
}

@media (max-width: 1000px) {
  .portfolios {
    .portfolio {
      height: 500px;
      margin: 10px 0;

      .portfolio-image img {
        width: 500px;
      }

      .portfolio-text-container {
        top: 60px;
        width: 700px;
        height: 300px;
        .portfolio-header {
          font-size: 40px;
        }
        .portfolio-p {
          width: 400px;
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .portfolios {
    margin-top: 700px;
    .portfolio {
      height: 400px;
      margin: 10px 0;

      .portfolio-image img {
        width: 450px;
      }

      .portfolio-text-container {
        top: 60px;
        width: 500px;
        height: 250px;
        .portfolio-header {
          font-size: 30px;
          margin-top: 30px;
        }
        .portfolio-p {
          width: 230px;
          font-size: 10px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .portfolios {
    .portfolio {
      .portfolio-image img {
        width: 400px;
      }

      .portfolio-text-container {
        top: 50px;
        width: 600px;
        height: 250px;
        .portfolio-header {
          font-size: 30px;
          margin-top: 30px;
        }
        .portfolio-p {
          width: 230px;
          font-size: 10px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .portfolios {
    .portfolio {
      margin: 60px 0;
      .portfolio-image img {
        width: 300px;
      }

      .portfolio-text-container {
        top: 160px;
        width: 300px;
        height: 200px;
        .portfolio-header {
          font-size: 30px;
          margin-top: 30px;
        }
        .portfolio-p {
          width: 200px;
          font-size: 8px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
