.service-div {
  height: 300px;
  margin: 80px 0;

  .service {
    -webkit-box-shadow: 0px 2px 19px 1px rgba(189, 189, 189, 1);
    -moz-box-shadow: 0px 2px 19px 1px rgba(189, 189, 189, 1);
    box-shadow: 0px 2px 19px 1px rgba(189, 189, 189, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    height: 250px;
    width: 250px;
    margin: 25px;
    background-color: white;
    padding: 15px;
    .service-image {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 120px;
      height: 120px;
      background-color: rgba($color: $grey-color, $alpha: 0.2);
      border-radius: 10px;
      img {
        max-width: 70px;
        max-height: 90px;
        width: auto;
        height: auto;
      }
    }

    .service-heading {
      font-size: 30px;
    }
  }
}
