$yellow-color: #fee715;
$grey-color: #dfdfdf;
$black-color: black;
$white-color: white;
$bg-color: grey;

$margin-sm:5px;
$margin-md:10px;
$margin-lg:20px;

$padding-sm:5px;
$padding-md:10px;
$padding-lg:20px;

$border-radius-sm:3px;
$border-radius-md:10px;
$border-radius-lg:15px;