html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(128, 128, 128, 0.1);
  font-family: "Arimo", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.content-header {
  font-size: 40px;
  margin: 30px;
}

a:hover {
  text-decoration: none;
}

header .container-fluid .navbar {
  background-color: rgba(255, 255, 255, 0.1);
}

header .container-fluid .navbar .logo {
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
}

header .container-fluid .navbar .active {
  border-bottom: 3px solid #fee715;
}

header .container-fluid .navbar .nav-item {
  margin: 0 15px;
}

header .container-fluid .navbar .nav-item .nav-link {
  color: black;
  font-weight: 500;
}

header .container-fluid .navbar .nav-item .nav-link:hover {
  background-color: rgba(223, 223, 223, 0.5);
}

header .container-fluid .navbar .social a {
  color: black;
  margin: 0 10px;
}

.service-div {
  height: 300px;
  margin: 80px 0;
}

.service-div .service {
  box-shadow: 0px 2px 26px -1px #dbdbdb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  margin: 25px;
  background-color: white;
  padding: 15px;
}

.service-div .service .service-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: rgba(223, 223, 223, 0.2);
  border-radius: 10px;
}

.service-div .service .service-image img {
  max-width: 70px;
  max-height: 90px;
  width: auto;
  height: auto;
}

.service-div .service .service-heading {
  font-size: 30px;
}

.portfolios {
  margin-top: 120px;
}

.portfolios .portfolio-link a {
  text-decoration: underline;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fee715;
}

.portfolios .portfolio {
  height: 600px;
  margin: 50px 0;
  padding: 0;
  position: relative;
}

.portfolios .portfolio .portfolio-image img {
  width: 800px;
  height: auto;
  position: absolute;
}

.portfolios .portfolio .portfolio-text-container {
  position: absolute;
  top: 100px;
  width: 1100px;
  height: 500px;
  background-color: rgba(223, 223, 223, 0.4);
}

.portfolios .portfolio .portfolio-text-container .portfolio-header {
  font-size: 50px;
  text-transform: uppercase;
}

.portfolios .portfolio .portfolio-text-container .portfolio-p {
  width: 320px;
}

.portfolios .portfolio-right .portfolio-text-container {
  left: 0;
  border-bottom-right-radius: 30px;
}

.portfolios .portfolio-right .portfolio-text-container .portfolio-p {
  margin: 40px 50px 50px 50px;
}

.portfolios .portfolio-right .portfolio-header {
  margin: 50px 0 0 50px;
}

.portfolios .portfolio-right .portfolio-image img {
  right: 0;
}

.portfolios .portfolio-left .portfolio-text-container {
  right: 0;
  border-bottom-left-radius: 30px;
}

.portfolios .portfolio-left .portfolio-text-container .portfolio-header {
  text-align: right;
  margin: 50px 50px 0 0;
  font-size: 50px;
  text-transform: uppercase;
}

.portfolios .portfolio-left .portfolio-text-container .portfolio-p {
  float: right;
  text-align: right;
  margin: 40px 50px 50px 50px;
}

.portfolios .portfolio-left .portfolio-image img {
  left: 0;
}

@media (max-width: 1000px) {
  .portfolios .portfolio {
    height: 500px;
    margin: 10px 0;
  }
  .portfolios .portfolio .portfolio-image img {
    width: 500px;
  }
  .portfolios .portfolio .portfolio-text-container {
    top: 60px;
    width: 700px;
    height: 300px;
  }
  .portfolios .portfolio .portfolio-text-container .portfolio-header {
    font-size: 40px;
  }
  .portfolios .portfolio .portfolio-text-container .portfolio-p {
    width: 400px;
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .portfolios {
    margin-top: 700px;
  }
  .portfolios .portfolio {
    height: 400px;
    margin: 10px 0;
  }
  .portfolios .portfolio .portfolio-image img {
    width: 450px;
  }
  .portfolios .portfolio .portfolio-text-container {
    top: 60px;
    width: 500px;
    height: 250px;
  }
  .portfolios .portfolio .portfolio-text-container .portfolio-header {
    font-size: 30px;
    margin-top: 30px;
  }
  .portfolios .portfolio .portfolio-text-container .portfolio-p {
    width: 230px;
    font-size: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .portfolios .portfolio .portfolio-image img {
    width: 400px;
  }
  .portfolios .portfolio .portfolio-text-container {
    top: 50px;
    width: 600px;
    height: 250px;
  }
  .portfolios .portfolio .portfolio-text-container .portfolio-header {
    font-size: 30px;
    margin-top: 30px;
  }
  .portfolios .portfolio .portfolio-text-container .portfolio-p {
    width: 230px;
    font-size: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .portfolios .portfolio {
    margin: 60px 0;
  }
  .portfolios .portfolio .portfolio-image img {
    width: 300px;
  }
  .portfolios .portfolio .portfolio-text-container {
    top: 160px;
    width: 300px;
    height: 200px;
  }
  .portfolios .portfolio .portfolio-text-container .portfolio-header {
    font-size: 30px;
    margin-top: 30px;
  }
  .portfolios .portfolio .portfolio-text-container .portfolio-p {
    width: 200px;
    font-size: 8px;
    margin-bottom: 20px;
  }
}

footer {
  font-size: 15px;
}

footer .container .navbar {
  margin-top: 20px;
  background-color: rgba(223, 223, 223, 0);
}

footer .container .navbar .logo {
  width: 70px;
  height: 35px;
}

footer .container .navbar .nav-item {
  margin: 0 20px;
}

footer .container .navbar .nav-item .nav-link {
  color: black;
  font-weight: 500;
}

footer .container .navbar .social a {
  color: black;
  margin: 0 10px;
}

.btn, .btn-border-radius, .warning_btn {
  display: inline-block;
  padding: 20px 5px;
  box-sizing: border-box;
}

.btn-border-radius, .warning_btn {
  border-radius: 12px;
}

.warning_btn {
  background: #fee715;
  color: white;
  padding: 20px 60px;
  font-size: 1.3rem;
}

.banner {
  height: 500px;
  margin: 50px;
  display: flex;
  justify-content: center;
}

.banner .banner-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.banner .banner-content .banner-text h2,
.banner .banner-content .banner-text p {
  margin: 15px;
  color: black;
  font-size: 3.9rem;
  font-weight: bold;
}

.banner .banner-content .apply-button {
  width: 250px;
  background-color: #fee715;
  border: none;
  outline: none;
  color: black;
  font-weight: 500;
}

.banner .banner-content .apply-button:hover {
  background-color: transparent;
  border: 2px solid #fee715;
  color: #fee715;
  font-weight: 900;
  font-size: 100;
}

.banner .banner-content .banner-icon {
  font-size: 3rem;
}

.banner .image-bg {
  position: absolute;
  width: 600px;
  left: 0;
  top: 0;
  z-index: -1;
}

.banner .banner-right {
  height: 500px;
  right: 0;
  position: absolute;
}

.banner .banner-left {
  height: 500px;
  left: 0;
  position: absolute;
}

.contact .full-container {
  box-shadow: 0px 2px 26px -1px #dbdbdb;
  padding: 70px;
  background: white;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.contact_content {
  margin: 0 auto;
  position: relative;
  padding: 80px;
}

.contact .form-control {
  height: calc(2.5em + 1rem + 2px) !important;
}

.contact .submitBtn {
  position: absolute;
  bottom: 20%;
  left: 42%;
}

.contact .button {
  text-align: center;
}

.contact .button .send-button {
  width: 250px;
  background-color: #fee715;
  border: none;
  outline: none;
}

.contact .button .send-button:hover {
  background-color: transparent;
  border: 2px solid #fee715;
  color: #fee715;
  font-weight: 900;
}

.contact .image-bg2 {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -90px;
  z-index: -1;
}

@media (max-width: 768px) {
  .banner {
    margin-top: 40px;
  }
  .banner_content {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .banner_content_middle {
    padding-top: 20px;
  }
  .banner_content_middle h2,
  .banner_content_middle p {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .banner_content_middle span {
    margin-top: 60px;
  }
  .banner .image-bg {
    width: 400px;
  }
  .contact .button .send-button {
    width: 160px;
  }
}

@media (max-width: 500px) {
  .contact .full-container {
    background: white;
    width: 400px;
  }
  .form-group {
    width: 270px;
  }
  .contact_content {
    padding: 0px;
  }
}

.about {
  height: 700px;
  position: relative;
  margin: 50px 0;
}

.about-title {
  position: relative;
  top: -35px;
  left: 900px;
  margin: 0;
  background-color: #ffffff;
  padding: 20px 50px;
  border-radius: 50px;
  width: 210px;
  font-weight: bold;
  font-size: 22px;
}

.about-right-text {
  background-color: rgba(223, 223, 223, 0.4);
  margin-left: 75px;
  margin-right: 75px;
  border-radius: 50px;
  height: 500px;
  width: 1100px;
}

.about-right-text .about-info {
  float: right;
}

.about-logo {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 55px;
}

.about-p {
  text-align: right;
  width: 500px;
  padding-right: 50px;
  padding-bottom: 50px;
  line-height: 28px;
  font-size: 12px;
}

.about-image {
  width: 20px;
}

.about-image img {
  width: 600px;
  height: auto;
  top: 50px;
  position: absolute;
}

@media (max-width: 800px) {
  .about {
    height: 700px;
    position: relative;
    margin: 50px 0;
  }
  .about-title {
    position: relative;
    top: -35px;
    left: 400px;
    padding: 20px 50px;
    width: 210px;
    font-size: 22px;
  }
  .about-right-text {
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 50px;
    height: 400px;
    width: 600px;
  }
  .about-logo {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .about-p {
    text-align: right;
    width: 300px;
    padding-right: 50px;
    padding-bottom: 50px;
    line-height: 15px;
    font-size: 10px;
  }
  .about-image {
    width: 20px;
  }
  .about-image img {
    width: 400px;
    height: auto;
    top: 100px;
    position: absolute;
  }
}

@media (max-width: 500px) {
  .about {
    height: 700px;
    position: relative;
    margin: 50px 0;
  }
  .about-title {
    position: relative;
    left: 200px;
    padding: 20px 50px;
    width: 210px;
    font-size: 22px;
  }
  .about-right-text {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50px;
    height: 400px;
    width: 500px;
  }
  .about-logo {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .about-p {
    text-align: right;
    width: 250px;
    padding-right: 50px;
    padding-bottom: 50px;
    line-height: 12px;
    font-size: 10px;
  }
  .about-image img {
    width: 300px;
    height: auto;
    top: 180px;
    position: absolute;
  }
}

@media (max-width: 300px) {
  .about {
    height: 700px;
    margin: 50px 0;
  }
  .about-title {
    left: 200px;
    padding: 20px 50px;
    width: 210px;
    font-size: 22px;
  }
  .about-right-text {
    margin-left: 0;
    margin-right: 0;
    height: 400px;
    width: 200px;
  }
  .about-logo {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .about-p {
    text-align: right;
    width: 250px;
    padding-right: 50px;
    padding-bottom: 50px;
    line-height: 12px;
    font-size: 10px;
  }
  .about-image img {
    width: 300px;
    height: auto;
    top: 180px;
    position: absolute;
  }
}
