html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(128, 128, 128, 0.1);
  font-family: "Arimo", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.content-header {
  font-size: 40px;
  margin: 30px;
}

a:hover {
  text-decoration: none;
}

header .container .navbar {
  background-color: rgba(255, 255, 255, 0.1);
}

header .container .navbar .logo {
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
}

header .container .navbar .active {
  border-bottom: 3px solid #fee715;
}

header .container .navbar .nav-item {
  margin: 0 15px;
}

header .container .navbar .nav-item .nav-link {
  color: black;
  font-weight: 500;
}

header .container .navbar .nav-item .nav-link:hover {
  background-color: rgba(223, 223, 223, 0.5);
}

header .container .navbar .social a {
  color: black;
  margin: 0 10px;
}

.service-div {
  height: 300px;
  margin-top: 80px;
}

.service-div .service {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 200px;
  margin: 20px;
  background-color: white;
  padding: 15px;
}

.service-div .service .service-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(223, 223, 223, 0.2);
  border-radius: 10px;
}

.service-div .service .service-image img {
  max-width: 50px;
  max-height: 70px;
  width: auto;
  height: auto;
}

.service-div .service .service-heading {
  font-size: 30px;
}

.portfolios {
  margin-top: 120px;
}

.portfolios .portfolio-link a {
  text-decoration: underline;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fee715;
}

.portfolios .portfolio {
  max-width: 1160px;
  height: 600px;
  margin: 10px 0;
}

.portfolios .portfolio-right {
  position: relative;
  padding: 0;
}

.portfolios .portfolio-right .portfolio-text-container {
  position: absolute;
  top: 130px;
  width: 1100px;
  height: 450px;
  border-bottom-right-radius: 30px;
  background-color: rgba(223, 223, 223, 0.4);
}

.portfolios .portfolio-right .portfolio-text-container .portfolio-p {
  width: 320px;
  margin: 40px 50px 50px 50px;
}

.portfolios .portfolio-right .portfolio-header {
  margin: 50px 0 0 50px;
  font-size: 50px;
  text-transform: uppercase;
}

.portfolios .portfolio-right .portfolio-image img {
  left: 460px;
  width: 900px;
  height: auto;
  position: absolute;
}

.portfolios .portfolio-left {
  position: relative;
  padding: 0;
}

.portfolios .portfolio-left .portfolio-text-container {
  text-align: right;
  position: absolute;
  top: 130px;
  left: 60px;
  width: 1100px;
  height: 450px;
  border-bottom-left-radius: 30px;
  background-color: rgba(223, 223, 223, 0.4);
}

.portfolios .portfolio-left .portfolio-text-container .portfolio-header {
  text-align: right;
  margin: 50px 50px 0 0;
  font-size: 50px;
  text-transform: uppercase;
}

.portfolios .portfolio-left .portfolio-text-container .portfolio-p {
  float: right;
  text-align: right;
  width: 320px;
  margin: 40px 50px 50px 50px;
}

.portfolios .portfolio-left .portfolio-image img {
  left: -130px;
  bottom: 0.5px;
  width: 900px;
  position: absolute;
}

@media (max-width: 1000px) {
  .portfolios {
    margin-top: 600px;
    margin-bottom: 1200px;
    height: 1000px;
  }
  .portfolios .portfolio {
    max-width: 500px;
    height: 600px;
  }
  .portfolios .portfolio-right .portfolio-text-container {
    top: 300px;
    width: 500px;
    height: 280px;
  }
  .portfolios .portfolio-right .portfolio-text-container .portfolio-p {
    width: auto;
    margin: 10px 30px 10px 30px;
    font-size: 12px;
  }
  .portfolios .portfolio-right .portfolio-header {
    margin: 80px 30px 5px 30px;
    font-size: 20px;
  }
  .portfolios .portfolio-right .portfolio-image img {
    top: 20px;
    left: 120px;
    width: 600px;
  }
  .portfolios .portfolio-left .portfolio-text-container {
    top: 300px;
    width: 600px;
    height: 250px;
  }
  .portfolios .portfolio-left .portfolio-text-container .portfolio-header {
    margin: 70px 30px 5px 30px;
    font-size: 20px;
  }
  .portfolios .portfolio-left .portfolio-text-container .portfolio-p {
    width: auto;
    margin: 10px 30px 10px 30px;
    font-size: 12px;
  }
  .portfolios .portfolio-left .portfolio-image img {
    left: -110px;
    top: -300px;
    width: 610px;
  }
}

@media (max-width: 500px) {
  .portfolios .portfolio {
    max-width: 500px;
    height: 600px;
    margin-bottom: 3px;
  }
  .portfolios .portfolio-right .portfolio-text-container {
    top: 210px;
    width: 420px;
    height: 230px;
  }
  .portfolios .portfolio-right .portfolio-text-container .portfolio-p {
    width: auto;
    margin: 10px 30px 10px 30px;
    font-size: 10px;
  }
  .portfolios .portfolio-right .portfolio-header {
    margin: 70px 30px 5px 30px;
    font-size: 20px;
  }
  .portfolios .portfolio-right .portfolio-image img {
    top: 40px;
    left: 120px;
    width: 400px;
  }
  .portfolios .portfolio-left .portfolio-text-container {
    top: 230px;
    width: 420px;
    height: 230px;
  }
  .portfolios .portfolio-left .portfolio-text-container .portfolio-header {
    margin: 70px 30px 5px 30px;
    font-size: 20px;
  }
  .portfolios .portfolio-left .portfolio-text-container .portfolio-p {
    width: auto;
    margin: 10px 30px 10px 30px;
    font-size: 10px;
  }
  .portfolios .portfolio-left .portfolio-image img {
    left: -90px;
    bottom: 140px;
    width: 400px;
  }
}

footer {
  font-size: 12px;
}

footer .container .navbar {
  margin-top: 20px;
  background-color: rgba(223, 223, 223, 0);
}

footer .container .navbar .logo {
  width: 50px;
  height: 25px;
}

footer .container .navbar .nav-item {
  margin: 0 20px;
}

footer .container .navbar .nav-item .nav-link {
  color: black;
  font-weight: 500;
}

footer .container .navbar .social a {
  color: black;
  margin: 0 10px;
}

.btn, .btn-border-radius, .warning_btn {
  display: inline-block;
  padding: 20px 5px;
  box-sizing: border-box;
}

.btn-border-radius, .warning_btn {
  border-radius: 12px;
}

.warning_btn {
  background: #fee715;
  color: white;
  padding: 20px 60px;
  font-size: 1.3rem;
}

.banner {
  margin-top: 60px;
}

.banner_content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.banner_content_middle {
  padding-top: 80px;
}

.banner_content_middle h2,
.banner_content_middle p {
  color: black;
  font-size: 3.5rem;
  font-weight: bold;
}

.banner_content_middle p {
  margin-top: 20px;
}

.banner_content_middle .btn_aplly {
  transform: translate(35%, 50%);
  padding-top: 20px;
}

.banner_content_middle span {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 60px;
}

.banner_content_middle .contact-btn:hover {
  background-color: black;
  color: #fee715;
}

.contact .full-container {
  padding: 70px;
  background: white;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.contact_content {
  margin: 0 auto;
  position: relative;
  padding: 80px;
}

.contact .form-control {
  height: calc(2.5em + 1rem + 2px) !important;
}

@media (max-width: 768px) {
  .banner {
    margin-top: 40px;
  }
  .banner_content {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .banner_content_middle {
    padding-top: 20px;
  }
  .banner_content_middle h2,
  .banner_content_middle p {
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
  .banner_content_middle .btn_aplly {
    transform: translate(25%, 50%);
  }
  .banner_content_middle span {
    margin-top: 60px;
  }
}

@media (max-width: 500) {
  .contact {
    width: 400px;
  }
}

.about {
  height: 700px;
  position: relative;
  margin: 50px 0;
}

.about-title {
  position: relative;
  top: -35px;
  left: 900px;
  margin: 0;
  background-color: #ffffff;
  padding: 20px 50px;
  border-radius: 50px;
  width: 210px;
  font-weight: bold;
  font-size: 22px;
}

.about-right-text {
  background-color: rgba(223, 223, 223, 0.4);
  margin-left: 75px;
  margin-right: 75px;
  border-radius: 50px;
  height: 500px;
  width: 1100px;
}

.about-right-text .about-info {
  float: right;
}

.about-logo {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 55px;
}

.about-p {
  text-align: right;
  width: 500px;
  padding-right: 50px;
  padding-bottom: 50px;
  line-height: 28px;
  font-size: 12px;
}

.about-image {
  width: 20px;
}

.about-image img {
  width: 600px;
  height: auto;
  top: 50px;
  position: absolute;
}

@media (max-width: 800px) {
  .about {
    height: 700px;
    position: relative;
    margin: 50px 0;
  }
  .about-title {
    position: relative;
    top: -35px;
    left: 400px;
    padding: 20px 50px;
    width: 210px;
    font-size: 22px;
  }
  .about-right-text {
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 50px;
    height: 400px;
    width: 600px;
  }
  .about-logo {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .about-p {
    text-align: right;
    width: 300px;
    padding-right: 50px;
    padding-bottom: 50px;
    line-height: 15px;
    font-size: 10px;
  }
  .about-image {
    width: 20px;
  }
  .about-image img {
    width: 400px;
    height: auto;
    top: 100px;
    position: absolute;
  }
}

@media (max-width: 500px) {
  .about {
    height: 700px;
    position: relative;
    margin: 50px 0;
  }
  .about-title {
    position: relative;
    left: 200px;
    padding: 20px 50px;
    width: 210px;
    font-size: 22px;
  }
  .about-right-text {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50px;
    height: 400px;
    width: 500px;
  }
  .about-logo {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .about-p {
    text-align: right;
    width: 250px;
    padding-right: 50px;
    padding-bottom: 50px;
    line-height: 12px;
    font-size: 10px;
  }
  .about-image img {
    width: 300px;
    height: auto;
    top: 180px;
    position: absolute;
  }
}

@media (max-width: 300px) {
  .about {
    height: 700px;
    margin: 50px 0;
  }
  .about-title {
    left: 200px;
    padding: 20px 50px;
    width: 210px;
    font-size: 22px;
  }
  .about-right-text {
    margin-left: 0;
    margin-right: 0;
    height: 400px;
    width: 200px;
  }
  .about-logo {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .about-p {
    text-align: right;
    width: 250px;
    padding-right: 50px;
    padding-bottom: 50px;
    line-height: 12px;
    font-size: 10px;
  }
  .about-image img {
    width: 300px;
    height: auto;
    top: 180px;
    position: absolute;
  }
}
