body {
    font-family: "Arimo", sans-serif;
    overflow-x: hidden !important;
  }
a{
    text-decoration: none;
}  
.img-responsive{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
