
$yellow-color:#FEE715;
$grey-color:#DFDFDF;
$black-color:black;


body{
  font-family: 'Arimo', sans-serif;
 
}

.navbar-brand img{
 width: 100px;
 height: 50px;
}


.navbar{
 padding-top: 20px;

 .active{
  border-bottom: 3px solid $yellow-color;

}

 .nav-item{
  margin: 0 15px;



  .nav-link{
color: $black-color;
font-weight: 500;
  }
 }



}

