body {
  font-family: 'Arimo', sans-serif;
}

.navbar-brand img {
  width: 100px;
  height: 50px;
}

.navbar {
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar .active {
  border-bottom: 3px solid #FEE715;
}

.navbar .nav-item {
  margin: 0 15px;
}

.navbar .nav-item .nav-link {
  color: black;
  font-weight: 500;
}

.social a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}
